{% extends "base.twig" %}
  {% block encabezado %}
  <link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="index.php/product/perfil">Perfil</a></li>
                <li><a href="index.php/product/favoritos">Favoritos</a></li>
                <li><a href="index.php/product/logout">Salir</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  {% endblock %}
  {% block contenido %}
  <h2>Actualiazr Datos</h2>
  <form class="" action="index.php/product/actualizar" method="post">
    <input type="text" hidden name="id" value="{{cliente.idCliente}}">
    <label for="">Nombre</label>
    <input type="text" name="name" value="{{cliente.nombre}}">
    <label for="">Usuario</label>
    <input type="text" name="user" value="{{cliente.user}}">
    <label for="">Contraseña</label>
    <input type="password" name="pass" value="{{cliente.contrasena}}">
    <br><br>
    <label for="">Zona</label>
    <select class="" name="zone">
       <option value="1">     1     </option>
       <option value="2">     2     </option>
       <option value="3">     3     </option>
       <option value="4">     4     </option>
    </select>
    <label for="">Estado</label>
    <select class="" name="state">
      {% for est in estado %}
       <option value="{{est.idEstado}}">     {{est.Estado}}     </option>
      {% endfor %}
    </select>
    <label for="">Ciudad</label>
    <select class="" name="city">
      {% for ciud in ciudad %}
       <option value="{{ciud.idCiudad}}">     {{ciud.Ciudad}}     </option>
      {% endfor %}
    </select>
    <label for="">Colonia</label>
    <input type="text" name="colo" value="{{cliente.colonia}}">
    <br><br>
    <label for="">Calle</label>
    <input type="text" name="street" value="{{cliente.calle}}">
    <label for="">Numero</label>
    <input type="text" name="no" value="{{cliente.numero}}">
    <label for="">Poblacion</label>
    <input type="text" name="pob" value="{{cliente.poblacion}}">
    <br><br>
    <label for="">Referencia</label>
    <input type="text" name="ref" value="{{cliente.referencia}}">
    <label for="">Telefono</label>
    <input type="text" name="phone" value="{{cliente.telefono}}" >
    <label for="">Codigo postal</label>
    <input type="text" name="cp" value="{{cliente.cp}}">
    <br><br>
    <label for="">Correo</label>
    <input type="text" name="emal" value="{{cliente.email}}">
    <label for="">RFC</label>
    <input type="text" name="rfc" value="{{cliente.rfc}}">
    <br><br>
    <label for="">Notas</label>
    <textarea name="nota" rows="8" cols="40">{{cliente.notas}}</textarea>
    <br><br>
    <button type="submit" name="button">Actualizar</button>

  </form>
  {% endblock %}
